<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>{{ 'Title' | translate:lang }}</span>admin</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>


  <div class="search">

    <!--<label for="ddlCountries">{{'Country and culture:' | translate:lang}}</label>-->

    <select id="ddlCountries" name="ddlCountries" class="form-control" style="height: 40px;" [(ngModel)]="ddlCountries" (change)="changeLanguage($event.target.value)">
          <option *ngFor="let lang of languages" [value]="lang.name">{{lang.name}}</option>
            </select>
  </div>

  <div class="search">
    <p>{{ today | localeDate:defaultLocale:'fullDate' }}</p>

  </div>

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <!--<img src="{{ ( 'Hernan' | baProfilePicture  ) }}">-->
                <img src="{{ config.currentUser.profilePictureUrl | baProfilePicture}}">

      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a href="/#/pages/profile" ><i class="fa fa-user"></i>{{'Profile'| translate:lang }}</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-cog"></i>{{'Settings' | translate:lang }}</a></li>
        <li class="dropdown-item"><a href="#" (click)="logOut()" class="signout"><i class="fa fa-power-off"></i>{{'Sign out' | translate:lang }}</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
</div>